@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('../pacote-d013/imagens/fundo-madeira.jpg') center / cover no-repeat fixed;
    /* Aparentemente, um min-height aqui não impede o navegador de encolher em altura. */
    min-width: 320px; /* Já esse não é alcançado */
}

img.iphone, div.fra, iframe {
    position: absolute;
    
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
}

iframe {
    height: 470px;
    width: 267px;
    margin-top: 3px;
    margin-left: 1px;
}

section.container {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 10px;
    position: absolute; /* Troquei de fixed para absolute para permitir rolagem de tela e acessar todos os botões em telas muito pequenas */
    right: 10px;
}

a img {
    border: 2px solid transparent;
    transition: transform 0.3s ease, border 0.9s ease;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.397)
}

a img:hover {
    border: 2px solid rgba(255, 255, 255, 0.904);
    transform: scale(1.1) translate(-5%, -5%); /* Nessa parte aqui a IA me ajudou */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397), inset 5px 5px 10px black;
}

img.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: inset 5px 5px 10px black;
}